<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DobsonDigs</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            var stickyNavTop = $('.bottom_nav').offset().top;
            var stickyNav = function(){
                var scrollTop = $(window).scrollTop();
                if(scrollTop > stickyNavTop) {
                    $('.bottom_nav').addClass('sticky');
                } else {
                    $('.bottom_nav').removeClass('sticky');
                }
            };
            stickyNav();
        })
    </script>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div class="top_nav">
                <div class="top_nav_left">
                    <a href="/">Home</a>
                    <a href="">About</a>
                    <a href="/blog">Blog</a>
                    <!--<a href="">Contact</a>-->
                </div>
                <div class="top_nav_right">
                    <a href=""><img src="{% static 'img/Logos/Pinterest.png' %}" alt="Pinterest Logo"></a>
                    <a href=""><img src="{% static 'img/Logos/Instagram.jpg' %}" alt="Instagram Logo"></a>
                    <a href=""><img src="{% static 'img/Logos/Facebook.png' %}" alt="Facebook Logo"></a>
                </div>
            </div>
            <div class="logo">
                <img src="{% static 'img/DobsonDigs.jpg' %}" alt="DobsonDigs Logo">
            </div>
            <div class="bottom_nav">
                <a href="/"><img src="{% static 'img/Home.png' %}" alt="Home Button"></a>
                <a href="/properties">Our Own Digs</a>
                {% for blog_section in all_blog_sections %}
                    <a href="/blog/section_{{ blog_section.id }}">{{ blog_section.name }}</a>
                {% endfor %}
            </div>         
        </div>
        <div class="content">
        <h1>Dobson Digs' Properties</h1>
            <div id="left" class="split">
                <a href="/properties/fort_worth"><h2>Fort Worth Bungalow</h2></a>
                <img src="{% static 'img/fort_worth/front.png' %}" alt="Fort Worth Bungalow">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta sint harum aperiam quia, neque similique distinctio aspernatur corrupti consectetur dolorem. Asperiores nisi dignissimos omnis voluptate reprehenderit minima esse voluptatum voluptatem. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure molestiae numquam quos, quidem veniam ad totam facilis. Architecto repellat minus excepturi expedita provident molestias deleniti accusamus repellendus, id odit veritatis?</p>
            </div>
            <div id="right" class="split">
                <a href="/properties/lake_travis"><h2>Lake Travis Oasis</h2></a>
                <img src="{% static 'img/lake_travis.jpg' %}" alt="Lake Travis Oasis">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta sint harum aperiam quia, neque similique distinctio aspernatur corrupti consectetur dolorem. Asperiores nisi dignissimos omnis voluptate reprehenderit minima esse voluptatum voluptatem. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure molestiae numquam quos, quidem veniam ad totam facilis. Architecto repellat minus excepturi expedita provident molestias deleniti accusamus repellendus, id odit veritatis?</p>
            </div>
        </div>
    </div>
</body>
</html>