#wrapper {
    font-family: 'Source Sans Pro', sans-serif;
}
body {
    margin: 0px;
}
a {
    color: black;
    text-decoration: none;
}
/* Style for Header/Nav */
.top_nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 10px;
}
.top_nav_left > a {
    text-decoration: none;
    padding: 5px;
    vertical-align: middle;
    color: black;
}
.top_nav_right > a > img {
    width: 30px;
    height: auto;
}
.logo > img {
    width: 650px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}
.bottom_nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 150px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: -webkit-sticky;
    background-color: white;
}
.bottom_nav > a {
    text-decoration: none;
    padding-top: 10px;
}
.bottom_nav > a > img {
    width: 35px;
    height: auto;
}
.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}

/* Style for Landing Page */
#intro {
    text-align: center;
}
#intro > img {
    width: 100%;
    height: 100%;

}
#recent_posts {
    padding: 25px;
    text-align: center;
}
.blog_preview {
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    margin: 0px 25px 25px;
}
.blog_preview > a {
    text-decoration: none;
    color: black;
}
.blog_preview > a > img {
    width: 300px;
    height: auto;
}

/* Style for Blog Page */
.content {
    padding: 15px;
    text-align: center;
}
.blog_section {
    border: 1px solid black;
    display: inline-block;
    width: 40%;
    height: 25%;
    margin: 1%;
    padding: 1%;
}
.blog_section > h3 {
    text-align: center;
}
.blog_section > a {
    margin-bottom: 2%;
    background-color:lightgrey;
    border: 1px solid black;
    padding: 1%;
}
.blog_section_content {
    padding: 2%;
}
.blog_section_content > img {
    width: 40%;
    height: auto;
    display: inline-block;
}
.blog_section_content > p {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding-left: 5%;
    text-align: justify;
}

/* Style for Blog Section Page */
#blog_section_posts {
    padding: 15px;
    text-align: center;
}
.blog_post {
    border: 1px solid black;
    display: inline-block;
    width: 25%;
    padding: 10px;
    margin: 1%;
}
.blog_post > a > img {
    width: 45%;
    height: 45%;
}
.blog_post > button {
    margin-bottom: 2%;
    background-color: white;
    border: 1px solid black;
}
/* Style for Blog Post Page */
#blog_post_content {
    display: inline-block;
    width: 65%;
    padding: 10px;
    margin: 1%;
}
#blog_post_content > h1 {
    text-align: center;
}
#blog_post_content > img {
    width: 100%;
    height: auto;
}
#blog_post_content > p {
    text-align: justify;
}
.blog_post_subsection {
    text-align: justify;
}
#right_section {
    display: inline-block;
    width: 22%;
    vertical-align: top;
    padding: 1%;
    margin-top: 3%;
    margin-left: 4%;
}
#about {
    text-align: center;
    border: 1px solid black;
    margin-bottom: 4%;
    padding: 0% 4% 4%;
}
#about > img {
    width: 75%;
    height: 75%;
}
#subscribe {
    border: 1px solid black;
    padding: 0% 4% 4%;

}
#subscribe > h3 {
    text-align: center;
}
tr:last-of-type {
    text-align: center;
    height: 50px;
}
table {
    width: 95%;

}
input[type=text], input[type=email] {
    width: 95%;
}

/* Style for Properties Page */
h1 {
    text-align: center;
}
.split {
    display: inline-block;
    width: 45%;
    padding: 1%;
}
.split > img {
    width: 85%;
    height: 85%;
}
.split > p {
    text-align: justify;
}
.split > a {
    text-decoration: none;
    color: black;
}

